
#nav{
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    max-width: 70%;
    margin-left: 15%;

  }

ul{
  z-index: 99;
  width: 100%;
  padding: 15px 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #9f9f9f;
  font-family: sans-serif;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(6px);
  cursor: pointer;
  
}
ul li{
  display: inline-block;
}
ul i{
  font-size: 20px;
}

